header {
  position: fixed; 
  width: 100%;
  height: 70px;
  padding: 20px;
  top: 0; 
  background-color: #d9d9d9;
  border-bottom: solid 2px #373867;
  font-size: 15px;
   display: flex;
  align-items: center;
  justify-content: space-around; 
  
}

.sections-trackgenix { 
  display: flex;
  justify-content: space-between; 
  padding-left: 100px;
  font-weight: bold;
  margin: 0 auto;
  padding: 20px;
}

.sections-trackgenix h3 {
  padding-left: 20px;
}



.header-title h2 {
  display: flex;
  font-weight: bold;
  padding-right: 400px;
  padding-left: 50px;
  font-size: 20px; 
}