aside {
  display: inline-block;
  width: 300px;
  height: 100%;
  background-color: #d9d9d9;
  position: fixed;
  display: none
}

aside div {
  margin: 20px;
}

.menu-sidebar {
  padding-bottom: 20px;
}

.menu-sidebar div {
  padding-top: 30px;
}

.margin{
  margin-top: 100px;
}

.border-bottom{
  border-bottom: #373867 2px solid;
}

@media screen and (min-width: 1024px){

  aside {
    display: inline-block;
    width: 300px;
    height: 100%;
    background-color: #d9d9d9;
    position: fixed;
  }
  
  aside div {
    margin: 20px;
  }
  
  .menu-sidebar {
    padding-bottom: 20px;
  }
  
  .menu-sidebar div {
    padding-top: 30px;
  }
  .margin{
    margin-top: 100px;
  }
  .border-bottom{
    border-bottom: #373867 2px solid;
  }
}