<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/sidebar.css">
  <link rel="stylesheet" href="../styles/landing.css">
  <link rel="stylesheet" href="../styles/footer.css">
  <link rel="stylesheet" href="../styles/login.css">
  <link rel="stylesheet" href="../styles/sign-up.css">
  <script src="../javascript/login.js"></script>
  <title>Trackgenix</title>
</head>
<body>
  <header>
    <div class="header-menu">
      <i class="fa-solid fa-bars"></i>
    </div>
    <div class="header-title">
      <h2>Trackgenix</h2>
    </div>
    <nav>
      <ul class="sections-trackgenix">
        <li>
          <h3>About Trackgenix</h3>
        </li>
        <li>
          <h3>Functions</h3>
        </li>
        <li>
          <h3>Info</h3>
        </li>
        <li>
          <h3>History</h3>
        </li>
        <li>
          <h3>Product & Services</h3>
        </li>
      </ul>
    </nav>
    </div>
  </header>
  <aside>
    <div>
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="search" required>
    </div>
    <div class="menu">
      <div class="border-bottom">
        <a href="#">Menu</a>
      </div>
      <div>
        <i class="fa-solid fa-house-chimney"></i>
        <a href="#">Home</a>
      </div>
      <div>
        <i class="fa-solid fa-user-plus"></i>
        <a href="#">Sign up</a>
      </div>
      <div>
        <i class="fa-solid fa-user"></i>
        <a href="#">Login</a>
      </div>
      <div>
        <i class="fa-solid fa-comment"></i>
        <a href="#">Contact</a>
      </div>
    </div>
    <div>
      <div class="border-bottom">
        <p class="margin">Get in Touch</p>
      </div>
      <div>
        <i class="fa-solid fa-envelope"></i>
        <a href="#">info@gigatech</a>
      </div>
      <div>
        <i class="fa-solid fa-phone"></i>
        <a href="#">(+000) 000-000000</a>
      </div>
      <div>
        <i class="fa-solid fa-map-location-dot"></i>
        <a href="#">1234 Somewhere Road Somewhere XX 000-0000</a>
      </div>
    </div>
  </aside>
  <main>
    <article class="container-login">
      <div class="text-login">
        <h1>Trackgenix</h1>
        <h2>Giga Tech Software Solutions SA</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Laboriosam maiores eveniet repudiandae distinctio commodi sint architecto alias ullam neque excepturi
          blanditiis quis illum, nostrum quidem aperiam. Impedit officia ab delectus!
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, ut distinctio
          quos necessitatibus harum asperiores accusamus nulla reiciendis autem vel aliquam placeat
          assumenda consectetur tempore impedit, nesciunt earum veniam est?
        </p>
      </div>
      <section>
        <form>
          <div class="sign">
            <p>Sign in</p>
            <p>Sign up</p>
          </div>
          <div class="h2-email">
            <h2>Email or user</h2>
          </div>
          <input type="text" name="Email" placeholder="user@gigatech.com" class="input-email">
          <h2 class="password">Password</h2>
          <input type="text" name="password" placeholder="***********" class="input-password">
          <div class="remember-me" >
          <input type="submit" value="Remember me"/>
          </div>
          <div class="forgot-password">
          <h2>Forgot password or email?</h2>
          </div>
          <div class="buttom-sign-in">
          <input type="submit" value="Sign in"/>
          </div>
          <div class="account">
          <h2>You not have account?</h2>
          </div>
          <div class="register">
          <input type="submit" value="Register"/>
          </div>
        </form>
      </section>
    </article>
  </main> 
  <footer>
    <div class="icons">
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-github"></i>
    </div>
    <p>
      Copyright ℗ 2022 Radium Rocket. All rights reserved.
    </p>
  </footer> 
</body>
</html>