<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/sidebar.css">
  <link rel="stylesheet" href="../styles/landing.css">
  <link rel="stylesheet" href="../styles/footer.css">
  <link rel="stylesheet" href="../styles/login.css">
  <link rel="stylesheet" href="../styles/sign-up.css">
<script src="../javascript/login.js"></script>

  <title>Trackgenix</title>
</head>

<body>
  <header>
    <div class="header-container">
      <div class="header-menu">
        <i class="fa-solid fa-bars"></i>
      </div>
      <div class="header-title">
        <a href="#">Trackgenix</a>
      </div>
      <nav class="header-nav">
        <ul class="header-list">
          <li>
            <a href="#">About Trackgenix</a>
          </li>
          <li>
            <a href="#">Functions</a>
          </li>
          <li>
            <a href="#">Info</a>
          </li>
          <li>
            <a href="#">History</a>
          </li>
          <li>
          <li>
            <a href="#">Product & Services</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <aside>
    <div>
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="search" required>
    </div>
    <div class="menu">
      <div class="border-bottom">
        <a href="#">Menu</a>
      </div>
      <div>
        <i class="fa-solid fa-house-chimney"></i>
        <a href="#">Home</a>
      </div>
      <div>
        <i class="fa-solid fa-user-plus"></i>
        <a href="#">Sign up</a>
      </div>
      <div>
        <i class="fa-solid fa-user"></i>
        <a href="#">Login</a>
      </div>
      <div>
        <i class="fa-solid fa-comment"></i>
        <a href="#">Contact</a>
      </div>
    </div>
    <div>
      <div class="border-bottom">
        <p class="margin">Get in Touch</p>
      </div>
      <div>
        <i class="fa-solid fa-envelope"></i>
        <a href="#">info@gigatech</a>
      </div>
      <div>
        <i class="fa-solid fa-phone"></i>
        <a href="#">(+000) 000-000000</a>
      </div>
      <div>
        <i class="fa-solid fa-map-location-dot"></i>
        <a href="#">1234 Somewhere Road Somewhere XX 000-0000</a>
      </div>
    </div>
  </aside>
  
  </main>
  <footer>
    <div class="icons">
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-github"></i>
    </div>
    <p>
      Copyright ℗ 2022 Radium Rocket. All rights reserved.
    </p>
  </footer>
</body>
</html>