<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/sidebar.css">
  <link rel="stylesheet" href="../styles/landing.css">
  <link rel="stylesheet" href="../styles/footer.css">
  <link rel="stylesheet" href="../styles/login.css"> 
  <link rel="stylesheet" href="../styles/sign-up.css">
  <script src="../javascript/sign-up.js"></script>
  <title>Trackgenix</title>
</head>
<body>
  <header>
    <div class="header-menu">
      <i class="fa-solid fa-bars"></i>
    </div>
    <div class="header-title">
      <h2>Trackgenix</h2>
    </div>
    <nav>
      <ul class="sections-trackgenix">
        <li>
          <h3>About Trackgenix</h3>
        </li>
        <li>
          <h3>Functions</h3>
        </li>
        <li>
          <h3>Info</h3>
        </li>
        <li>
          <h3>History</h3>
        </li>
        <li>
          <h3>Product & Services</h3>
        </li>
      </ul>
    </nav>
  </div>
</header>
  <aside>
    <div>
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="search" required>
    </div>
    <div class="menu">
      <div class="border-bottom">
        <a href="#">Menu</a>
      </div>
      <div>
        <i class="fa-solid fa-house-chimney"></i>
        <a href="#">Home</a>
      </div>
      <div>
        <i class="fa-solid fa-user-plus"></i>
        <a href="#">Sign up</a>
      </div>
      <div>
        <i class="fa-solid fa-user"></i>
        <a href="#">Login</a>
      </div>
      <div>
        <i class="fa-solid fa-comment"></i>
        <a href="#">Contact</a>
      </div>
    </div>
    <div>
      <div class="border-bottom">
        <p class="margin">Get in Touch</p>
      </div>
      <div>
        <i class="fa-solid fa-envelope"></i>
        <a href="#">info@gigatech</a>
      </div>
      <div>
        <i class="fa-solid fa-phone"></i>
        <a href="#">(+000) 000-000000</a>
      </div>
      <div>
        <i class="fa-solid fa-map-location-dot"></i>
        <a href="#">1234 Somewhere Road Somewhere XX 000-0000</a>
      </div>
    </div>
  </aside>
  <main>
    <article class="container-sign-up">
      <div class="text-sign-up">
    <h1>Trackgenix</h1>
    <h2>Giga Tech Software Solutions SA</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Laboriosam maiores eveniet repudiandae distinctio commodi sint architecto alias ullam neque excepturi
      blanditiis quis illum, nostrum quidem aperiam. Impedit officia ab delectus!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, ut distinctio
      quos necessitatibus harum asperiores accusamus nulla reiciendis autem vel aliquam placeat
      assumenda consectetur tempore impedit, nesciunt earum veniam est?
    </p>
  </div>

    <section class="container-sign-up">
      <form>
        <div class="sign-in-sign-up">
      <p>Sign in</p>
      <p>Sign up</p>
    </div>

      <h2 class="first-name">First Name</h2>
      <div class="first-button">
      <input type="text" name="First Name" placeholder="Osvaldo">
      </div>
      <h2 class="last-name">Last Name</h2>
      <div class="last-button">
      <input type="text" name="Last Name" placeholder="Martinez">
    </div>
      <h2 class="dni">DNI</h2>
      <div class="dni-button">
      <input type="text" name="DNI" placeholder="12345678">
    </div>
      <h2 class="date">Date of birth</h2>
      <div class="date-button">
      <input type="text" name="Date of Birth" placeholder="dd/mm/aaaa">
    </div>
      <h2 class="phone">Phone</h2>
      <div class="phone-button">
      <input type="text" name="Phone" placeholder="+54 0 00 0000 0000">
    </div>
      <h2 class="locality">Locality</h2>
      <div class="locality-button">
      <input type="text" name="Locality" placeholder="Buenos Aires">
    </div>
      <h2 class="address">Address</h2>
      <div class="address-button">
      <input type="text" name="Address" placeholder="St. Example, 1234">
    </div>
      <h2 class="postal">Postal Code</h2>
      <div class="postal-button">
      <input type="text" name="Postal Code" placeholder="11111">
    </div>
      <h2 class="email">Email</h2>
      <div class="email-button">
      <input type="text" name="Email" placeholder="name@radium.com">
    </div>
      <h2 class="password">Password</h2>
      <div class="password-button">
      <input type="text" name="Password" placeholder="********">
    </div>
      <h2 class="repeat">Repeat Password</h2>
      <div class="repeat-button">
      <input type="text" name="Repeat Password" placeholder="********">
    </div>
    <div class="button-register">
      <input type="submit" value="Register"/>
</div>
    </form>





    </section>
  </article>





























  </main>
  
  <footer>
    <div class="icons">
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-github"></i>
    </div>
    <p>
      Copyright ℗ 2022 Radium Rocket. All rights reserved.
    </p>
  </footer>
</body>
</html>